<div class="jumbotron center">

		  
		    <h2>Welcome to the place that you never want to leave!</h2>
		    
		<p>
		   <h2> Join Greenpin to find all the things that inspire you! </h2>
		   <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
		   <%=link_to "Sign up",new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>

</div>


<% if user_signed_in? %>
    <%=link_to "Manage your pins", pins_path %>
<%end%>


